export(cloppearSnSp)
export(estimateSnSp)
export(estimateSnSpControl)
export(snsp)
export(cp)
export(updateAlpha)
importFrom(data.table, setorder)
importFrom(plyr, ddply, '.', summarize)
importFrom("methods", "new")
importFrom("stats", "median", "optim", "qbeta", "quantile", "rbeta",
             "runif")
